flask-cors==3.0.3
flask-mail==0.9.1
flask-oauth==0.12
flask_oauthlib==0.9.5
gevent==1.2.2
pyldap==2.4.28
redis==3.2.1
pandas==0.23.4
sqlalchemy==1.2.18
pyathena==1.5.1
pymssql==2.1.4
sqlalchemy-clickhouse==0.1.5.post0
sqlalchemy-redshift==0.7.1

mysqlclient
psycopg2-binary

BeautifulSoup4

email-validator

Werkzeug==0.16.0
